@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h2>Welcome to BlazorChat!</h2>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" disabled="@IsConnected" />
        <button @onclick="LogIn" disabled="@IsConnected">Log in</button>
    </label>
</div>

@if (IsConnected && !InGroup)
{
    <div class="form-group">
        <label>
            Group:
            <ul>
            @foreach (var group in @groups)
            {
                <li><a href="" @onclick="@(e => JoinGroup(group))">@group</a></li>
            }
            </ul>
            <input @bind="newGroup" size="50" />
            <button @onclick="@(e => JoinGroup(newGroup))" disabled="@(!IsConnected)">Join</button>
        </label>
    </div>
}

@if (IsConnected && InGroup)
{
    <h3>Now chatting in @currentGroup</h3>

    <button @onclick="LeaveGroup">Leave group</button>

    <div class="form-group">
        <label>
            Message:
            <input @bind="messageInput" size="50" />
        </label>
    </div>

    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>

    <hr>

    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>    
}

@code {
    private HubConnection? hubConnection;
    private string currentGroup = "";
    private string[] groups = new string[0];
    private List<string> messages = new List<string>();
    private string newGroup = "";
    private string? userInput = "Max";
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<List<string>>("RefreshGroups", (groups) =>
        {
            this.groups = groups.ToArray();
            StateHasChanged();
        });

    }

    private async Task LogIn()
    {
        if (hubConnection is not null)
        {
            await hubConnection.StartAsync();                    
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput, currentGroup);
            messageInput = "";
        }
    }

    public async Task JoinGroup(string groupName)
    {
        currentGroup = newGroup = groupName;
        messages.Clear();
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("AddToGroup", userInput, groupName);
        }        
    }

    public async Task LeaveGroup()
    {
        currentGroup = "";
        messages.Clear();        
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("RemoveFromGroup", userInput, currentGroup);
        }        
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public bool InGroup => !string.IsNullOrEmpty(currentGroup);

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
